In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from Energy.HelpFunctions.get_energy_data import get_energy_data, prepare_data

In [28]:
df = get_energy_data()
df = prepare_data(df)

  0%|          | 0/255 [00:00<?, ?it/s]/Users/elias/Desktop/PTSFC/Energy/HelpFunctions/get_energy_data.py:27: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  energydata = pd.concat([energydata, pd.DataFrame(rawdata, columns=col_names)])
100%|██████████| 255/255 [00:27<00:00,  9.25it/s]

In [71]:
def split_time(df, num_years = 0, num_months = 0, num_weeks = 0, num_days = 0, num_hours = 0):
    # date_to_keep = df.index.max() - num_years - num_months - num_days
    split_date = df.index.max() - pd.DateOffset(years = num_years, months=num_months, weeks = num_weeks, days=num_days, hours = num_hours)
    df_b = df.loc[df.index <= split_date]
    df_a = df.loc[df.index > split_date]
    
    return df_b, df_a

In [30]:
df

                       gesamt  weekday
date_time
2018-12-24 00:00:00  42.02925        0
2018-12-24 01:00:00  39.61025        0
2018-12-24 02:00:00  39.13875        0
2018-12-24 03:00:00  39.42100        0
2018-12-24 04:00:00  40.74775        0
...                       ...      ...
2023-11-12 03:00:00  38.68725        6
2023-11-12 04:00:00  39.28950        6
2023-11-12 05:00:00  39.31125        6
2023-11-12 06:00:00  39.64050        6
2023-11-12 07:00:00  20.18900        6

[42824 rows x 2 columns]

In [44]:

from Energy.Baseline.baseline import baseline

baseline(df, LAST_IDX=-1)

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-13 20:00:00,energy,36 hour,47.099250,54.790000,58.275750,61.938625,68.925319
1,2023-11-14 00:00:00,energy,40 hour,39.612500,43.428562,45.941125,49.032313,56.291488
2,2023-11-14 04:00:00,energy,44 hour,39.472119,41.745313,44.774500,48.597875,55.372306
3,2023-11-14 20:00:00,energy,60 hour,51.757831,55.769188,58.404375,62.398563,69.663931
4,2023-11-15 00:00:00,energy,64 hour,41.628875,44.106687,45.769250,49.245688,56.137538
5,2023-11-15 04:00:00,energy,68 hour,40.345519,42.847750,44.830875,48.450500,55.380406

# Cross validate

In [32]:
from datetime import datetime, timedelta


def most_recent_thursday(df):
    today = df.index.max()
    days_to_thursday = (today.weekday() - 3) % 7  # Calculate days to the most recent Thursday
    recent_thursday = today - timedelta(days=days_to_thursday, hours=today.hour, minutes=today.minute, seconds=today.second, microseconds=today.microsecond)
    
    # Set the time to 12:00 AM
    most_recent_thursday = recent_thursday.replace(hour=0, minute=0, second=0, microsecond=0)
    
    return most_recent_thursday

Remove everything til last thursday night 12pm

In [66]:
start_date_excl = most_recent_thursday(df)
df_cval = df.loc[df.index < start_date_excl]

In [67]:
baseline(df_cval, LAST_IDX=-1)

,forecast_date,target,horizon,q0.025,q0.25,q0.5,q0.75,q0.975
0,2023-11-10 12:00:00,energy,36 hour,53.274763,60.872563,63.616750,67.128563,74.963481
1,2023-11-10 16:00:00,energy,40 hour,50.642019,55.814688,58.537500,62.717125,71.090000
2,2023-11-10 20:00:00,energy,44 hour,49.348806,52.384937,56.379125,60.121625,67.135544
3,2023-11-11 12:00:00,energy,60 hour,47.477200,51.317125,53.837750,57.298625,63.596281
4,2023-11-11 16:00:00,energy,64 hour,44.081156,47.382188,50.045750,53.573437,62.625650
5,2023-11-11 20:00:00,energy,68 hour,43.284444,46.577937,49.405625,53.355125,59.913819

Repeatedly run the model. Record predictions and true values (observations). Make sure the observations are available for the most recent prediction.

In [101]:
# import importlib
# importlib.reload(Energy.Baseline)


df_before = df_cval
for w in range(100):
    # Create a temp df that only contains the values used for training
    df_before, df_after = split_time(df_before, num_weeks=1)
    pred = baseline(df_before, LAST_IDX=-1)
    obs = df_cval.loc[pred['forecast_date']]["gesamt"]

date_time
2023-11-03 12:00:00    65.95400
2023-11-03 16:00:00    61.48775
2023-11-03 20:00:00    58.61850
2023-11-04 12:00:00    55.63325
2023-11-04 16:00:00    54.13450
2023-11-04 20:00:00    53.02075
Name: gesamt, dtype: float64
date_time
2023-10-27 12:00:00    66.15400
2023-10-27 16:00:00    59.40400
2023-10-27 20:00:00    57.48025
2023-10-28 12:00:00    54.15150
2023-10-28 16:00:00    50.72750
2023-10-28 20:00:00    50.70850
Name: gesamt, dtype: float64
date_time
2023-10-20 12:00:00    69.16975
2023-10-20 16:00:00    62.27725
2023-10-20 20:00:00    59.67925
2023-10-21 12:00:00    53.16975
2023-10-21 16:00:00    49.49000
2023-10-21 20:00:00    49.60400
Name: gesamt, dtype: float64
date_time
2023-10-13 12:00:00    65.68725
2023-10-13 16:00:00    61.80725
2023-10-13 20:00:00    57.52750
2023-10-14 12:00:00    55.19250
2023-10-14 16:00:00    50.86225
2023-10-14 20:00:00    50.39050
Name: gesamt, dtype: float64
date_time
2023-10-06 12:00:00    64.72350
2023-10-06 16:00:00    59.56600
2023-10-06 20:00:00    58.13700
2023-10-07 12:00:00    52.69775
2023-10-07 16:00:00    48.51975
2023-10-07 20:00:00    48.12900
Name: gesamt, dtype: float64
date_time
2023-09-29 12:00:00    63.90325
2023-09-29 16:00:00    58.81925
2023-09-29 20:00:00    56.87300
2023-09-30 12:00:00    51.41850
2023-09-30 16:00:00    47.21925
2023-09-30 20:00:00    47.05375
Name: gesamt, dtype: float64
date_time
2023-09-22 12:00:00    62.99600
2023-09-22 16:00:00    55.80125
2023-09-22 20:00:00    52.76725
2023-09-23 12:00:00    51.16450
2023-09-23 16:00:00    47.31375
2023-09-23 20:00:00    46.84700
Name: gesamt, dtype: float64
date_time
2023-09-15 12:00:00    59.39375
2023-09-15 16:00:00    54.64375
2023-09-15 20:00:00    53.94750
2023-09-16 12:00:00    50.12550
2023-09-16 16:00:00    46.77300
2023-09-16 20:00:00    47.00225
Name: gesamt, dtype: float64
date_time
2023-09-08 12:00:00    62.21825
2023-09-08 16:00:00    56.65475
2023-09-08 20:00:00    54.22725
2023-09-09 12:00:00    51.47950
2023-09-09 16:00:00    48.40900
2023-09-09 20:00:00    47.95125
Name: gesamt, dtype: float64
date_time
2023-09-01 12:00:00    61.04175
2023-09-01 16:00:00    55.92400
2023-09-01 20:00:00    52.33600
2023-09-02 12:00:00    50.49600
2023-09-02 16:00:00    45.72800
2023-09-02 20:00:00    45.38475
Name: gesamt, dtype: float64
date_time
2023-08-25 12:00:00    61.88300
2023-08-25 16:00:00    55.82575
2023-08-25 20:00:00    51.94675
2023-08-26 12:00:00    51.60225
2023-08-26 16:00:00    46.15050
2023-08-26 20:00:00    44.41600
Name: gesamt, dtype: float64
date_time
2023-08-18 12:00:00    58.53400
2023-08-18 16:00:00    54.50100
2023-08-18 20:00:00    52.04975
2023-08-19 12:00:00    50.89175
2023-08-19 16:00:00    47.95075
2023-08-19 20:00:00    45.54725
Name: gesamt, dtype: float64
date_time
2023-08-11 12:00:00    56.96525
2023-08-11 16:00:00    53.03525
2023-08-11 20:00:00    50.32875
2023-08-12 12:00:00    50.00575
2023-08-12 16:00:00    46.53725
2023-08-12 20:00:00    45.36700
Name: gesamt, dtype: float64
date_time
2023-08-04 12:00:00    57.73775
2023-08-04 16:00:00    52.94825
2023-08-04 20:00:00    49.32375
2023-08-05 12:00:00    47.19825
2023-08-05 16:00:00    43.97725
2023-08-05 20:00:00    43.07975
Name: gesamt, dtype: float64
date_time
2023-07-28 12:00:00    59.00325
2023-07-28 16:00:00    53.24725
2023-07-28 20:00:00    49.78550
2023-07-29 12:00:00    49.20650
2023-07-29 16:00:00    45.85275
2023-07-29 20:00:00    43.64350
Name: gesamt, dtype: float64
date_time
2023-07-21 12:00:00    57.80075
2023-07-21 16:00:00    54.08850
2023-07-21 20:00:00    49.37650
2023-07-22 12:00:00    47.65675
2023-07-22 16:00:00    44.19600
2023-07-22 20:00:00    43.27150
Name: gesamt, dtype: float64
date_time
2023-07-14 12:00:00    59.45100
2023-07-14 16:00:00    53.43725
2023-07-14 20:00:00    50.77550
2023-07-15 12:00:00    52.99000
2023-07-15 16:00:00    47.06350
2023-07-15 20:00:00    45.93300
Name: gesamt, dtype: float64
date_time
2023-07-07 12:00:00    58.68100
2023-07-07 16:00:00    54.55350
2023-07-07 20:00:00    51.14750
2023-07-08 12:00:00    48.90075
2023-07-08 16:00:00    46.05875
2023-07-08 20:00:00    44.62000
Name: gesamt, dtype: float64
date_time
2023-06-30 12:00:00    59.89125
2023-06-30 16:00:00    55.07250
2023-06-30 20:00:00    51.17075
2023-07-01 12:00:00    50.97825
2023-07-01 16:00:00    46.89750
2023-07-01 20:00:00    45.46775
Name: gesamt, dtype: float64
date_time
2023-06-23 12:00:00    60.32100
2023-06-23 16:00:00    55.69075
2023-06-23 20:00:00    51.83225
2023-06-24 12:00:00    49.26725
2023-06-24 16:00:00    45.80875
2023-06-24 20:00:00    44.05575
Name: gesamt, dtype: float64
date_time
2023-06-16 12:00:00    59.40375
2023-06-16 16:00:00    55.81150
2023-06-16 20:00:00    52.29400
2023-06-17 12:00:00    48.83600
2023-06-17 16:00:00    45.37350
2023-06-17 20:00:00    44.67950
Name: gesamt, dtype: float64
date_time
2023-06-09 12:00:00    54.80250
2023-06-09 16:00:00    52.21925
2023-06-09 20:00:00    50.07125
2023-06-10 12:00:00    49.78100
2023-06-10 16:00:00    46.75175
2023-06-10 20:00:00    46.27450
Name: gesamt, dtype: float64
date_time
2023-06-02 12:00:00    58.37275
2023-06-02 16:00:00    54.10350
2023-06-02 20:00:00    50.90700
2023-06-03 12:00:00    47.86450
2023-06-03 16:00:00    43.69575
2023-06-03 20:00:00    43.43000
Name: gesamt, dtype: float64
date_time
2023-05-26 12:00:00    59.11375
2023-05-26 16:00:00    54.36775
2023-05-26 20:00:00    51.01325
2023-05-27 12:00:00    46.89075
2023-05-27 16:00:00    42.48900
2023-05-27 20:00:00    42.36225
Name: gesamt, dtype: float64
date_time
2023-05-19 12:00:00    52.58475
2023-05-19 16:00:00    49.21500
2023-05-19 20:00:00    49.12200
2023-05-20 12:00:00    49.75150
2023-05-20 16:00:00    45.81775
2023-05-20 20:00:00    45.38900
Name: gesamt, dtype: float64
date_time
2023-05-12 12:00:00    61.09200
2023-05-12 16:00:00    57.45200
2023-05-12 20:00:00    53.73425
2023-05-13 12:00:00    50.55650
2023-05-13 16:00:00    46.84650
2023-05-13 20:00:00    46.37600
Name: gesamt, dtype: float64
date_time
2023-05-05 12:00:00    61.45825
2023-05-05 16:00:00    57.13400
2023-05-05 20:00:00    55.97575
2023-05-06 12:00:00    51.96450
2023-05-06 16:00:00    48.09700
2023-05-06 20:00:00    47.39825
Name: gesamt, dtype: float64
date_time
2023-04-28 12:00:00    61.76275
2023-04-28 16:00:00    55.54200
2023-04-28 20:00:00    53.64650
2023-04-29 12:00:00    51.30325
2023-04-29 16:00:00    46.48350
2023-04-29 20:00:00    48.62350
Name: gesamt, dtype: float64
date_time
2023-04-21 12:00:00    59.61725
2023-04-21 16:00:00    54.59600
2023-04-21 20:00:00    53.18325
2023-04-22 12:00:00    48.62325
2023-04-22 16:00:00    45.85075
2023-04-22 20:00:00    47.05375
Name: gesamt, dtype: float64
date_time
2023-04-14 12:00:00    60.04975
2023-04-14 16:00:00    54.44675
2023-04-14 20:00:00    55.16825
2023-04-15 12:00:00    52.77700
2023-04-15 16:00:00    49.24325
2023-04-15 20:00:00    50.16950
Name: gesamt, dtype: float64
date_time
2023-04-07 12:00:00    50.88975
2023-04-07 16:00:00    45.46550
2023-04-07 20:00:00    49.31150
2023-04-08 12:00:00    48.36650
2023-04-08 16:00:00    45.60750
2023-04-08 20:00:00    47.04300
Name: gesamt, dtype: float64
date_time
2023-03-31 12:00:00    63.27725
2023-03-31 16:00:00    57.59575
2023-03-31 20:00:00    57.51450
2023-04-01 12:00:00    57.21975
2023-04-01 16:00:00    52.82700
2023-04-01 20:00:00    53.07425
Name: gesamt, dtype: float64
date_time
2023-03-24 12:00:00    63.86250
2023-03-24 16:00:00    58.45975
2023-03-24 20:00:00    57.35925
2023-03-25 12:00:00    53.87575
2023-03-25 16:00:00    49.80125
2023-03-25 20:00:00    50.89450
Name: gesamt, dtype: float64
date_time
2023-03-17 12:00:00    61.89400
2023-03-17 16:00:00    58.61325
2023-03-17 20:00:00    58.21250
2023-03-18 12:00:00    52.06650
2023-03-18 16:00:00    46.86100
2023-03-18 20:00:00    48.86400
Name: gesamt, dtype: float64
date_time
2023-03-10 12:00:00    65.01850
2023-03-10 16:00:00    60.90325
2023-03-10 20:00:00    60.00275
2023-03-11 12:00:00    55.63850
2023-03-11 16:00:00    50.04575
2023-03-11 20:00:00    53.54625
Name: gesamt, dtype: float64
date_time
2023-03-03 12:00:00    64.68675
2023-03-03 16:00:00    59.66400
2023-03-03 20:00:00    59.79150
2023-03-04 12:00:00    59.52700
2023-03-04 16:00:00    54.00850
2023-03-04 20:00:00    53.30850
Name: gesamt, dtype: float64
date_time
2023-02-24 12:00:00    66.59975
2023-02-24 16:00:00    62.36150
2023-02-24 20:00:00    59.25825
2023-02-25 12:00:00    59.52600
2023-02-25 16:00:00    54.19700
2023-02-25 20:00:00    54.31275
Name: gesamt, dtype: float64
date_time
2023-02-17 12:00:00    68.28275
2023-02-17 16:00:00    64.10000
2023-02-17 20:00:00    60.55350
2023-02-18 12:00:00    57.50375
2023-02-18 16:00:00    53.52375
2023-02-18 20:00:00    52.84325
Name: gesamt, dtype: float64
date_time
2023-02-10 12:00:00    67.91275
2023-02-10 16:00:00    62.99800
2023-02-10 20:00:00    61.90175
2023-02-11 12:00:00    59.19000
2023-02-11 16:00:00    55.21325
2023-02-11 20:00:00    53.49500
Name: gesamt, dtype: float64
date_time
2023-02-03 12:00:00    69.40275
2023-02-03 16:00:00    65.29425
2023-02-03 20:00:00    61.52500
2023-02-04 12:00:00    57.00400
2023-02-04 16:00:00    52.76225
2023-02-04 20:00:00    52.87150
Name: gesamt, dtype: float64
date_time
2023-01-27 12:00:00    69.00675
2023-01-27 16:00:00    64.58675
2023-01-27 20:00:00    60.59100
2023-01-28 12:00:00    58.29350
2023-01-28 16:00:00    55.82825
2023-01-28 20:00:00    54.70675
Name: gesamt, dtype: float64
date_time
2023-01-20 12:00:00    67.35750
2023-01-20 16:00:00    63.86300
2023-01-20 20:00:00    60.47825
2023-01-21 12:00:00    60.66075
2023-01-21 16:00:00    58.65750
2023-01-21 20:00:00    55.13200
Name: gesamt, dtype: float64
date_time
2023-01-13 12:00:00    68.70750
2023-01-13 16:00:00    65.95800
2023-01-13 20:00:00    60.62550
2023-01-14 12:00:00    58.57825
2023-01-14 16:00:00    58.23200
2023-01-14 20:00:00    55.30425
Name: gesamt, dtype: float64
date_time
2023-01-06 12:00:00    61.21975
2023-01-06 16:00:00    57.83775
2023-01-06 20:00:00    54.72350
2023-01-07 12:00:00    53.79975
2023-01-07 16:00:00    52.06150
2023-01-07 20:00:00    51.77575
Name: gesamt, dtype: float64
date_time
2022-12-30 12:00:00    53.33225
2022-12-30 16:00:00    54.93750
2022-12-30 20:00:00    52.02800
2022-12-31 12:00:00    50.36725
2022-12-31 16:00:00    50.04575
2022-12-31 20:00:00    46.74525
Name: gesamt, dtype: float64
date_time
2022-12-23 12:00:00    58.20800
2022-12-23 16:00:00    56.65225
2022-12-23 20:00:00    52.02750
2022-12-24 12:00:00    51.32175
2022-12-24 16:00:00    47.99250
2022-12-24 20:00:00    43.29875
Name: gesamt, dtype: float64
date_time
2022-12-16 12:00:00    68.80900
2022-12-16 16:00:00    66.96425
2022-12-16 20:00:00    61.90600
2022-12-17 12:00:00    61.05350
2022-12-17 16:00:00    60.12375
2022-12-17 20:00:00    57.45175
Name: gesamt, dtype: float64
date_time
2022-12-09 12:00:00    68.34125
2022-12-09 16:00:00    66.15525
2022-12-09 20:00:00    60.94625
2022-12-10 12:00:00    58.63025
2022-12-10 16:00:00    57.70450
2022-12-10 20:00:00    55.01075
Name: gesamt, dtype: float64
date_time
2022-12-02 12:00:00    69.60000
2022-12-02 16:00:00    67.65275
2022-12-02 20:00:00    62.36900
2022-12-03 12:00:00    59.40100
2022-12-03 16:00:00    57.82775
2022-12-03 20:00:00    54.34250
Name: gesamt, dtype: float64
date_time
2022-11-25 12:00:00    65.73750
2022-11-25 16:00:00    62.62350
2022-11-25 20:00:00    58.16675
2022-11-26 12:00:00    54.61575
2022-11-26 16:00:00    53.11500
2022-11-26 20:00:00    50.53875
Name: gesamt, dtype: float64
date_time
2022-11-18 12:00:00    66.61700
2022-11-18 16:00:00    63.31825
2022-11-18 20:00:00    58.43000
2022-11-19 12:00:00    56.08175
2022-11-19 16:00:00    53.81400
2022-11-19 20:00:00    50.77475
Name: gesamt, dtype: float64
date_time
2022-11-11 12:00:00    65.02300
2022-11-11 16:00:00    61.59425
2022-11-11 20:00:00    57.67675
2022-11-12 12:00:00    53.61375
2022-11-12 16:00:00    51.10450
2022-11-12 20:00:00    49.65350
Name: gesamt, dtype: float64
date_time
2022-11-04 12:00:00    64.07775
2022-11-04 16:00:00    59.98650
2022-11-04 20:00:00    56.60425
2022-11-05 12:00:00    54.44775
2022-11-05 16:00:00    51.24150
2022-11-05 20:00:00    51.40875
Name: gesamt, dtype: float64
date_time
2022-10-28 12:00:00    62.49075
2022-10-28 16:00:00    57.29225
2022-10-28 20:00:00    56.93450
2022-10-29 12:00:00    52.20175
2022-10-29 16:00:00    47.97275
2022-10-29 20:00:00    48.55475
Name: gesamt, dtype: float64
date_time
2022-10-21 12:00:00    63.52375
2022-10-21 16:00:00    57.83200
2022-10-21 20:00:00    55.34050
2022-10-22 12:00:00    53.42400
2022-10-22 16:00:00    48.81750
2022-10-22 20:00:00    48.98750
Name: gesamt, dtype: float64
date_time
2022-10-14 12:00:00    62.68925
2022-10-14 16:00:00    57.44625
2022-10-14 20:00:00    56.46325
2022-10-15 12:00:00    53.20425
2022-10-15 16:00:00    49.02525
2022-10-15 20:00:00    49.98650
Name: gesamt, dtype: float64
date_time
2022-10-07 12:00:00    63.65275
2022-10-07 16:00:00    56.78625
2022-10-07 20:00:00    56.29500
2022-10-08 12:00:00    55.16700
2022-10-08 16:00:00    50.73850
2022-10-08 20:00:00    50.43675
Name: gesamt, dtype: float64
date_time
2022-09-30 12:00:00    60.89150
2022-09-30 16:00:00    56.77225
2022-09-30 20:00:00    56.71650
2022-10-01 12:00:00    56.50950
2022-10-01 16:00:00    51.97725
2022-10-01 20:00:00    51.65400
Name: gesamt, dtype: float64
date_time
2022-09-23 12:00:00    60.32950
2022-09-23 16:00:00    55.52675
2022-09-23 20:00:00    54.79275
2022-09-24 12:00:00    52.62550
2022-09-24 16:00:00    48.11900
2022-09-24 20:00:00    48.74550
Name: gesamt, dtype: float64
date_time
2022-09-16 12:00:00    65.16475
2022-09-16 16:00:00    60.21125
2022-09-16 20:00:00    57.99375
2022-09-17 12:00:00    54.14775
2022-09-17 16:00:00    50.42300
2022-09-17 20:00:00    51.32325
Name: gesamt, dtype: float64
date_time
2022-09-09 12:00:00    62.44200
2022-09-09 16:00:00    57.74925
2022-09-09 20:00:00    54.98100
2022-09-10 12:00:00    51.49525
2022-09-10 16:00:00    47.42500
2022-09-10 20:00:00    47.61200
Name: gesamt, dtype: float64
date_time
2022-09-02 12:00:00    62.49975
2022-09-02 16:00:00    56.25050
2022-09-02 20:00:00    55.60050
2022-09-03 12:00:00    52.65850
2022-09-03 16:00:00    48.48200
2022-09-03 20:00:00    48.58050
Name: gesamt, dtype: float64
date_time
2022-08-26 12:00:00    61.93550
2022-08-26 16:00:00    57.57125
2022-08-26 20:00:00    53.48500
2022-08-27 12:00:00    51.82275
2022-08-27 16:00:00    48.31750
2022-08-27 20:00:00    45.93400
Name: gesamt, dtype: float64
date_time
2022-08-19 12:00:00    61.03675
2022-08-19 16:00:00    55.76975
2022-08-19 20:00:00    52.40125
2022-08-20 12:00:00    50.61575
2022-08-20 16:00:00    46.45800
2022-08-20 20:00:00    44.61800
Name: gesamt, dtype: float64
date_time
2022-08-12 12:00:00    60.96225
2022-08-12 16:00:00    55.81575
2022-08-12 20:00:00    51.72200
2022-08-13 12:00:00    51.07400
2022-08-13 16:00:00    47.40500
2022-08-13 20:00:00    45.64675
Name: gesamt, dtype: float64
date_time
2022-08-05 12:00:00    61.52475
2022-08-05 16:00:00    59.08475
2022-08-05 20:00:00    52.42725
2022-08-06 12:00:00    52.14625
2022-08-06 16:00:00    48.39825
2022-08-06 20:00:00    44.83675
Name: gesamt, dtype: float64
date_time
2022-07-29 12:00:00    62.82150
2022-07-29 16:00:00    56.79325
2022-07-29 20:00:00    51.87850
2022-07-30 12:00:00    50.97000
2022-07-30 16:00:00    46.73425
2022-07-30 20:00:00    44.92225
Name: gesamt, dtype: float64
date_time
2022-07-22 12:00:00    62.24475
2022-07-22 16:00:00    57.70425
2022-07-22 20:00:00    52.41275
2022-07-23 12:00:00    52.74000
2022-07-23 16:00:00    48.82950
2022-07-23 20:00:00    46.21375
Name: gesamt, dtype: float64
date_time
2022-07-15 12:00:00    64.49700
2022-07-15 16:00:00    58.51525
2022-07-15 20:00:00    52.77450
2022-07-16 12:00:00    54.33275
2022-07-16 16:00:00    49.70700
2022-07-16 20:00:00    46.64525
Name: gesamt, dtype: float64
date_time
2022-07-08 12:00:00    63.38350
2022-07-08 16:00:00    60.22350
2022-07-08 20:00:00    54.22050
2022-07-09 12:00:00    53.98925
2022-07-09 16:00:00    50.53825
2022-07-09 20:00:00    48.29050
Name: gesamt, dtype: float64
date_time
2022-07-01 12:00:00    63.58075
2022-07-01 16:00:00    58.46750
2022-07-01 20:00:00    54.10425
2022-07-02 12:00:00    53.41300
2022-07-02 16:00:00    49.33075
2022-07-02 20:00:00    46.72775
Name: gesamt, dtype: float64
date_time
2022-06-24 12:00:00    65.22925
2022-06-24 16:00:00    60.33450
2022-06-24 20:00:00    55.67000
2022-06-25 12:00:00    53.10650
2022-06-25 16:00:00    48.99700
2022-06-25 20:00:00    47.12000
Name: gesamt, dtype: float64
date_time
2022-06-17 12:00:00    60.87200
2022-06-17 16:00:00    56.07275
2022-06-17 20:00:00    51.66600
2022-06-18 12:00:00    54.65975
2022-06-18 16:00:00    51.22575
2022-06-18 20:00:00    48.15250
Name: gesamt, dtype: float64
date_time
2022-06-10 12:00:00    63.86725
2022-06-10 16:00:00    58.87125
2022-06-10 20:00:00    53.51475
2022-06-11 12:00:00    54.65900
2022-06-11 16:00:00    50.59850
2022-06-11 20:00:00    47.20575
Name: gesamt, dtype: float64
date_time
2022-06-03 12:00:00    64.10175
2022-06-03 16:00:00    59.55425
2022-06-03 20:00:00    55.71900
2022-06-04 12:00:00    52.18000
2022-06-04 16:00:00    48.20325
2022-06-04 20:00:00    46.18675
Name: gesamt, dtype: float64
date_time
2022-05-27 12:00:00    60.87275
2022-05-27 16:00:00    56.59550
2022-05-27 20:00:00    53.35875
2022-05-28 12:00:00    54.76600
2022-05-28 16:00:00    50.92350
2022-05-28 20:00:00    49.34525
Name: gesamt, dtype: float64
date_time
2022-05-20 12:00:00    66.84225
2022-05-20 16:00:00    61.19300
2022-05-20 20:00:00    58.43000
2022-05-21 12:00:00    57.23025
2022-05-21 16:00:00    52.09850
2022-05-21 20:00:00    49.07025
Name: gesamt, dtype: float64
date_time
2022-05-13 12:00:00    67.05225
2022-05-13 16:00:00    63.30575
2022-05-13 20:00:00    58.02250
2022-05-14 12:00:00    55.25125
2022-05-14 16:00:00    50.29100
2022-05-14 20:00:00    48.83200
Name: gesamt, dtype: float64
date_time
2022-05-06 12:00:00    65.35600
2022-05-06 16:00:00    59.69750
2022-05-06 20:00:00    56.77250
2022-05-07 12:00:00    54.24225
2022-05-07 16:00:00    50.93425
2022-05-07 20:00:00    50.32275
Name: gesamt, dtype: float64
date_time
2022-04-29 12:00:00    64.35350
2022-04-29 16:00:00    58.55975
2022-04-29 20:00:00    58.38250
2022-04-30 12:00:00    55.43050
2022-04-30 16:00:00    50.16300
2022-04-30 20:00:00    50.01375
Name: gesamt, dtype: float64
date_time
2022-04-22 12:00:00    66.05775
2022-04-22 16:00:00    61.58000
2022-04-22 20:00:00    59.96700
2022-04-23 12:00:00    56.01200
2022-04-23 16:00:00    51.66175
2022-04-23 20:00:00    52.44500
Name: gesamt, dtype: float64
date_time
2022-04-15 12:00:00    53.22275
2022-04-15 16:00:00    47.71925
2022-04-15 20:00:00    49.88925
2022-04-16 12:00:00    52.71825
2022-04-16 16:00:00    48.49900
2022-04-16 20:00:00    49.80350
Name: gesamt, dtype: float64
date_time
2022-04-08 12:00:00    69.28125
2022-04-08 16:00:00    64.58050
2022-04-08 20:00:00    62.83100
2022-04-09 12:00:00    61.25950
2022-04-09 16:00:00    56.09100
2022-04-09 20:00:00    55.58600
Name: gesamt, dtype: float64
date_time
2022-04-01 12:00:00    75.64300
2022-04-01 16:00:00    69.00175
2022-04-01 20:00:00    66.70500
2022-04-02 12:00:00    62.62350
2022-04-02 16:00:00    57.15575
2022-04-02 20:00:00    56.78300
Name: gesamt, dtype: float64
date_time
2022-03-25 12:00:00    65.91025
2022-03-25 16:00:00    60.34600
2022-03-25 20:00:00    61.48075
2022-03-26 12:00:00    55.96225
2022-03-26 16:00:00    51.57150
2022-03-26 20:00:00    53.53525
Name: gesamt, dtype: float64
date_time
2022-03-18 12:00:00    68.33200
2022-03-18 16:00:00    62.39700
2022-03-18 20:00:00    63.46550
2022-03-19 12:00:00    58.21950
2022-03-19 16:00:00    55.43025
2022-03-19 20:00:00    57.56500
Name: gesamt, dtype: float64
date_time
2022-03-11 12:00:00    69.34575
2022-03-11 16:00:00    64.79100
2022-03-11 20:00:00    65.39550

In [92]:
df_cval

                       gesamt  weekday
date_time
2018-12-24 00:00:00  42.02925        0
2018-12-24 01:00:00  39.61025        0
2018-12-24 02:00:00  39.13875        0
2018-12-24 03:00:00  39.42100        0
2018-12-24 04:00:00  40.74775        0
...                       ...      ...
2023-11-08 19:00:00  66.99950        2
2023-11-08 20:00:00  64.17500        2
2023-11-08 21:00:00  60.00300        2
2023-11-08 22:00:00  56.50825        2
2023-11-08 23:00:00  53.13050        2

[42744 rows x 2 columns]